button{
    background-color: yellow;
    padding-left: 70px;
    padding-bottom: 4px;
    padding-right: 70px;
    padding-top: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
#foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}