*{
  margin:0;
  padding:0;
  box-sizing:border-box ;
}

body{
  background-color: rgb(243, 240, 229);
  font-family:Arial, Helvetica, sans-serif;
  
}
img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  height:100%;
}

